# Binaries
*.dart_tool/
*.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Flutter specific
.dart_tool/
.packages
pubspec.lock

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Compiled Dart / Flutter build artifacts
*.dart.js
build/web/

# Node.js
example/server/node_modules/
example/server/package-lock.json
